.footer-icon, .card, .helpful-links ul, .about-us ul {
    cursor: pointer;
}
.helpful-links a, .navbar a {
    text-decoration: none;
}
.navbar .container {
    margin: 0;
    padding: 0 2rem;
    max-width: 100%;
    justify-content: space-evenly;
}
.navbar .container .nav-link {
    margin: 0 2rem;
}
.navbar-brand, .creator h6, .left h4 {
    font-family: "Caveat", cursive;
}
.me-auto a {
    color: #000000;
}
.d-flex{
    margin: 0 auto;
    max-width: 500px;
}
.homepage{
    text-align: center;
    padding-top: 3rem;
}
.homepage h1 {
    padding-top: 2rem;
}
.homepage p {
    margin-bottom: 2rem;
}
.image-container {
    padding: 4rem 0.5rem 2rem 0.5rem;
    width: 100%;
    max-height: 90vh;
  }
  .bottom-image {
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 650px;
  }
.logo, .account-logo {
    width: 30px;
    height: 30px;
    margin-right: 0.5rem;
}
.account-logo{
    margin-right: 1rem;
    cursor: pointer;
}
.upcoming-events h2 {
    text-align: center;
    padding: 2rem 0 1rem 0;
}
.footer h1 {
    text-align: center;
    font-size: 5rem;
    padding-bottom: 5rem;
}
.carousel-item, .carousel {
    max-width: 900px;
    max-height: 450px;
    margin: 0 auto;
}
.footer-background {
    background-color: #1f1e1e;
    color: #fff;
    padding-top: 4rem;
}
.footer {
    display: flex;
    justify-content: space-around;
}
.right{
    display: flex;
}
.helpful-links ul, .about-us ul {
    list-style-type: none;
    padding: 0;
}
.helpful-links, .about-us {
  margin: 0 2rem;
}
.helpful-links a {
    color: #ffff;
}
.left{
    margin-left: 0.5rem;
}
.left h4 {
    font-size: 1.7rem;
}
.footer-logo {
    display: flex;
    margin-bottom: 1rem;
}

.footer-logo .logo {
    margin: 0;
}
.footer-icons {
    display: flex;
}
.footer-icon {
    margin: 0 0.2rem;
    font-size: 2rem;
}
.creator{
    margin: 0 0.7rem;
    font-size: 0.7rem;
    display: flex;
    justify-content: end;
}
.creator h6{
    padding-left: 0.3rem;
}
/* Event page */
.event {
    text-align: center;
}
.event h2 {
    padding: 3rem 0;
}
.time-date-location, .attending {
    display: flex;
    justify-content: center;
    align-items: center;
}
.time-date-location h5 {
    font-size: 1rem;
    padding: 1rem;
}
 .event img {
   margin: 0 auto;
   width: 700px;
   max-width: 100%;
   height: auto;
   display: block;
 }
 .description {
    max-width: 800px;
    margin: 3rem auto;
 }
 .attending h6{
 margin: 0;
 }
 .event-page .row {
    margin:  5rem 2rem;
 }
 .event-page h1 {
    text-align: center;
    padding: 3rem 0;
 }
 .contact-page form {
    max-width: 800px;
    margin: 4rem auto;
    padding: 0 0.5rem
 }
 .contact {
    background-color: lightgray;
    height: 350px;
 }
 .contact h1 {
    text-align: center;
    padding: 2.5rem 0;
 }
 .contacts {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 }
.contacts .icons {
    width: 35px;
    height: 35px;
    margin-bottom: 1rem;
}
.email, .mailbox, .phone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

  /* Loading Homepage Animation */
.animate {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
  }
  
  .animate.show {
    opacity: 1;
    transform: translateY(0);
  }
  /* Slide from the left */
.slide-left {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
  }
  
  .slide-left.show {
    opacity: 1;
    transform: translateX(0);
  }
  
  /* Slide from the right */
  .slide-right {
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
  }
  
  .slide-right.show {
    opacity: 1;
    transform: translateX(0);
  }
  /* Media Styling */
  @media screen and (max-width: 700px) {
    .contacts {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 300px;
     }
     .contact {
        background-color: lightgray;
        height: 500px;
     }
  }


/* Modal CSS */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    text-align: center;
  }
  
  .close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 24px;
    cursor: pointer;
  }
  
  button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  input[type="email"] {
    padding: 8px;
    margin: 10px 0;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  