.navbar .container {
    margin: 0;
    padding: 0 4rem;
    max-width: 100%;
    justify-content: space-evenly;
}
.navbar .container .nav-link {
    margin: 0 4rem;
} */
.navbar .container .me-2 {
    width: 350px;
}